body {
    border: 1px solid black;
    margin: 25px;
    padding: 0px;
    width: 1316px;
    height: 610px;
    overflow: hidden;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO_OQ3TD8SL8uz7Z3VDTwMxehEOJ05ZUWlSwuwVmti8rb-lzG2SA");
    background-size: cover;
}

.logo {
    display: inline-block;
    float: left;
    height: 105px;
    width: 105px;
}

.topNav {
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: black;
    color: #a34386;
    height: 75px;
    width: 1181px;
    text-align: right;
    font-size: 30px;
}

.body {
    clear: both;
    width: 1316px;
    height: 471px;
    background-color: white;
}

.footer {
    background-color: black;
    width: 1306px;
    height: 25px;
    padding: 5px;
    padding-top: 10px;
    font-size: 15px;
    color: white;
}

.purple {
    color: #a34386;
}
