body {
    border: 1px solid black;
    margin: 25px;
    padding: 0px;
    width: 1316px;
    height: 610px;
    overflow: hidden;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO_OQ3TD8SL8uz7Z3VDTwMxehEOJ05ZUWlSwuwVmti8rb-lzG2SA");
    background-size: cover;
}

.logo {
    display: inline-block;
    float: left;
    height: 105px;
    width: 105px;
}

.topNav {
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: black;
    color: #a34386;
    height: 75px;
    width: 1181px;
    text-align: right;
    font-size: 30px;
}

.body {
    clear: both;
    height: 480px;
    width: 1316px;
    background-color: white;
}

.footer {
    background-color: black;
    width: 1306px;
    height: 25px;
    padding: 5px;
    padding-top: 10px;
    font-size: 15px;
    color: white;
}

.purple {
    color: #a34386;
}

.scroll{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    padding-left: 25px;
    padding-right: 25px;
}

.left{
    float: left;
    display: inline-block;
    width: 31%;
}

.middle{
    float: left;
    display: inline-block;
    width: 31%;
    margin-left: 3%;
}

.right{
    float: left;
    display: inline-block;
    width: 31%;
    margin-left: 3%;
}

.profileLeft{
    float: left;
    display: inline-block;
    width: 210px;
    height: 480px;
}

.profileRight{
    float: left;
    display: inline-block;
    width: 1106px;
    height: 480px;
}

.imageBox{
    height: 210px;
    width: 210px;
    text-align: center;
    vertical-align:middle;
    background-color: black;
}

.image {
    max-height: 210px;
    max-width: 210px;
    height: auto;
    width: auto;
}

.leftNav{
    height: 270px;
    width: 210px;
    background-color: black;
}