body {
    width: 1366px;
    font-size: 20px;
}

.profileImage {
    height: 250px;
    width: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}

.profile {
    margin-top: 10px;
}

.left {
    float: left;
    width: 200px;
    border: 1.5px solid black;
    margin-right: 10px;
    padding: 10px;
}

.navbar {
}

.status {
    position: absolute;
    top: 110px;
    left: 340px;
    float: left;
    height: 412px;
}
