@model BLL.VideoFM

@if (Model.Location != "No Premissions")
{
    <div>
        <h4>Upload Team Video</h4>

        @ViewBag.Upload

        @using (Html.BeginForm("AddVideo", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" accept="video/*" name="file"><br />
            @Html.TextBoxFor(m => m.Title, new { @placeholder = "Video Title" })<br />
            <input type="submit" name="submit" value="Add Video">
        }
    </div>
}