@model List<BLL.ImageVM>

@{
    ViewBag.Title = "Team Images";
}

<div class="left" style="width: 79%">
    <h2>@Html.Action("TeamName")'s Images</h2>

    @if (Model == null || Model.Count == 0)
    {
        <p style="text-align: center">@Html.Action("TeamName") has not added any images yet.</p>
    }
    else
    {
        <div>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="images">
                    @if (Model[i].Location[0].ToString() + Model[i].Location[1].ToString() == "ht")
                    {
                        <img src=@Url.Content(Model[i].Location) class="image" /><br />
                    }
                    @if (Model[i].Location[0].ToString() + Model[i].Location[1].ToString() != "ht")
                    {
                        <img src=@Url.Content("~/" + Model[i].Location) class="image" /><br />
                    }
                    @Model[i].Title<br />
                    @Html.Action("Permissions", "Team", new {view = "DeleteImages", ID = Model[i].ID })
                </div>
            }
        </div>
    }
</div>
<div class="right" style="position: absolute; width: 16%">
    @*@Html.Action("AddImage")*@
</div>