@model BLL.ImageFM

<h4>Upload Image</h4>

@using (Html.BeginForm("AddImage", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <input type="file" name="file"><br />
        <input type="text" name="title" /><br/>
        <input type="submit" name="submit" value="Add Image">
}
