@model List<BLL.UserVM>

@{
    ViewBag.Title = "Friends";
}

<div class="left" style="width: 79%">
    <h2>Friends</h2>

    @if (Model == null)
    {
        <p>You have not added any friends yet.</p>
    }
    else
    {
        <div>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="friends">
                    @Html.Action("FriendPic", new { friendID = @Model[i].ID })
                    @Html.ActionLink(Model[i].FirstName + " " + Model[i].LastName, "FriendsPage", "Profile", new { ID = @Model[i].ID }, new { @class = "pink" })
                </div>
            }
        </div>
    }
</div>