@{
    ViewBag.Title = Session["UserName"];
}

<link href="~/Content/Profile.css" rel="stylesheet" />
<div class="profile">
    <div class="left">
        <div class="profileImage"></div>
        <div class="links">
            @Html.Action("Links")
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Change Password", "ChangePassword", "Accounts")</li>
            <li>@Html.ActionLink("Edit Profile", "Edit", "Profile")</li>
            <li>@Html.ActionLink("Create Page", "CreatePage", "Team")</li>
        </ul>
        <div class="status">
            <p>News Feed</p>
        </div>
    </div>
</div>
<div class="container body-content"></div>