@{
    ViewBag.Title = "Pending Friend Request";
}

<div style="float: right; padding-right: 50px;">
    <div style=" width: 40%; margin: 3%; display: inline-block;">
        @Html.Action("YourRequest")
    </div>
    <div style=" width: 40%; margin: 3%; display: inline-block; ">
        @Html.Action("RequestedYou")
    </div>
</div>