@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>
    Tech Support<br />
    Street: Ap #599-4697 Magna Rd.<br />
    City: Lethbridge, GA 01999-166<br />
    Phone: 1-457-802-3881<br />
    Email: TechSupport@MyCheerBook.com
</p>