@{
    ViewBag.Title = "Home Page";
}

<div class="body scroll">
    <h1>MyCheerBook</h1>

    <div class="left">
        <h2>Cheerleaders</h2>
        <p>You can connect with squad members, and other cheerleaders.  You can shared pictures and videos.</p>
    </div>
    <div class="middle">
        <h2>Coaches</h2>
        <p>You can create pages for your team.  Post information about Team meetings, schedules, upcoming competitions.</p>
    </div>
    <div class="right">
        <h2>Event Organizers</h2>
        <p>You can create pages for competitions.  Post information about registration date, competition dates, and so much more.</p>
    </div>

    <h1>
        @Html.ActionLink("More About", "About")
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Contact Info", "Contact")
    </h1>
</div>