@model BLL.UserFM

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
{
    <div class="error">
        @ViewBag.ErrorMessage
    </div>
    <div class="emailBox">
        Email Address
        @Html.TextBoxFor(model => model.Email)
    </div>
    <div class="password">
        Password
        @Html.PasswordFor(model => model.Password)
    </div>
    <input type="submit" value="Login" />
}
