@model BLL.UserFM

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
{

    <div class="firstName">
        First Name
        @Html.TextBoxFor(model => model.FirstName)
    </div><div class="lastName">
        Last Name
        @Html.TextBoxFor(model => model.LastName)
    </div>
    <div class="emailBox">
        Email Address
        @Html.TextBoxFor(model => model.Email)
    </div>
    <div class="password">
        Password
        @Html.PasswordFor(model => model.Password)
    </div>

    <input type="submit" value="Register" />
}