<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCheerBook - @ViewBag.Title</title>
    <link href="~/Content/MyCheerBook.css" rel="stylesheet" />
</head>
<body>
    <div class="logo">
        <a href=@Url.Action("Index", "Home" )>
            <img class="logo" src=@Url.Content("/Resources/Logo.gif")>
        </a>
    </div>
    <div class="topNav">
        @Html.Partial("_LoginPartial")
    </div>
    <div class="body">
        @RenderBody()
    </div>
    <div class="footer">&copy; @DateTime.Now.Year - MyCheerBook</div>
</body>
</html>
