@if (Session["UserID"] != null)
{
    <p>
        @Html.ActionLink("" + Session["UserName"] + "", "Index", "Profile", new { }, new { @class = "purple" })
        &nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Log Out", "Logout", "Accounts", new { }, new { @class = "purple" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Sign Up", "Register", "Accounts", new{}, new { @class = "purple" })
        &nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Log In", "Login", "Accounts", new{}, new { @class = "purple" })
    </p>
}
