@if (Session["UserID"] != null)
{
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("" + Session["UserName"] + "", "Index", "Profile")
            </li>
            <li>
                @Html.ActionLink("Log Out", "Logout", "Accounts")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Accounts")</li>
        <li>@Html.ActionLink("Log In", "Login", "Accounts")</li>
    </ul>
}
